@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HCA

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectMain</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectMain.styles.css" asp-append-version="true" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-black">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="@Url.Action("Index", "Home")">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor" d="M3 2h18v2H3zm0 18h18v2H3zm0-6h18v2H3zm0-6h18v2H3z" />
                    </svg></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    @if (string.IsNullOrEmpty(HCA.HttpContext?.Session.GetString("UserId")))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white bg-primary me-2" href="@Url.Action("Login", "Auth")">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white bg-primary me-2"
                                href="@Url.Action("Register", "Auth")">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white me-2"
                                href="@Url.Action("Profile", "Auth", new { id = HCA.HttpContext.Session.GetString("UserId") })">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white me-2" href="@Url.Action("Create", "Template")">Create Template</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white bg-primary me-2" href="@Url.Action("Logout", "Auth")">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <main role="main">
        @RenderBody()
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
